.pantsdown.dark {
    color-scheme: dark;
    --color-fg-default: #e6edf3;
    --color-fg-muted: #7d8590;
    --color-fg-subtle: #6e7681;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-attention-muted: rgba(187, 128, 9, 0.4);
    --color-danger-fg: #f85149;
    --color-icon-directory: #7d8590;
    --color-icon-file: #7d8590;
    --color-btn-bg: #21262d;
    --color-btn-border: rgba(240, 246, 252, 0.1);
    --color-btn-hover-bg: #30363d;
    /*! https://github.com/highlightjs/highlight.js/blob/main/src/styles/github-dark.css */
}
.pantsdown.dark .hljs {
    color: #c9d1d9;
}
.pantsdown.dark .hljs-doctag,
.pantsdown.dark .hljs-keyword,
.pantsdown.dark .hljs-meta .hljs-keyword,
.pantsdown.dark .hljs-template-tag,
.pantsdown.dark .hljs-template-variable,
.pantsdown.dark .hljs-type,
.pantsdown.dark .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
}
.pantsdown.dark .hljs-title,
.pantsdown.dark .hljs-title.class_,
.pantsdown.dark .hljs-title.class_.inherited__,
.pantsdown.dark .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
}
.pantsdown.dark .hljs-attr,
.pantsdown.dark .hljs-attribute,
.pantsdown.dark .hljs-literal,
.pantsdown.dark .hljs-meta,
.pantsdown.dark .hljs-number,
.pantsdown.dark .hljs-operator,
.pantsdown.dark .hljs-variable,
.pantsdown.dark .hljs-selector-attr,
.pantsdown.dark .hljs-selector-class,
.pantsdown.dark .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
}
.pantsdown.dark .hljs-regexp,
.pantsdown.dark .hljs-string,
.pantsdown.dark .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
}
.pantsdown.dark .hljs-built_in,
.pantsdown.dark .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
}
.pantsdown.dark .hljs-comment,
.pantsdown.dark .hljs-code,
.pantsdown.dark .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
}
.pantsdown.dark .hljs-name,
.pantsdown.dark .hljs-quote,
.pantsdown.dark .hljs-selector-tag,
.pantsdown.dark .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
}
.pantsdown.dark .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
}
.pantsdown.dark .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
}
.pantsdown.dark .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
}
.pantsdown.dark .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
}
.pantsdown.dark .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
}
.pantsdown.dark .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
}
.pantsdown.dark .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
}
.pantsdown.dark .hljs-char.escape_,
.pantsdown.dark .hljs-link,
.pantsdown.dark .hljs-params,
.pantsdown.dark .hljs-property,
.pantsdown.dark .hljs-punctuation,
.pantsdown.dark .hljs-tag {
    /* purposely ignored */
}
.pantsdown.light {
    color-scheme: light;
    --color-fg-default: #1f2328;
    --color-fg-muted: #656d76;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #fff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: rgba(216, 222, 228, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-attention-muted: rgba(212, 167, 44, 0.4);
    --color-danger-fg: #d1242f;
    --color-icon-directory: #54aeff;
    --color-icon-file: #656d76;
    --color-btn-bg: #f6f8fa;
    --color-btn-border: rgba(31, 35, 40, 0.15);
    --color-btn-hover-bg: #f3f4f6;
    /*! https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
}
.pantsdown.light .hljs {
    color: #24292e;
}
.pantsdown.light .hljs-doctag,
.pantsdown.light .hljs-keyword,
.pantsdown.light .hljs-meta .hljs-keyword,
.pantsdown.light .hljs-template-tag,
.pantsdown.light .hljs-template-variable,
.pantsdown.light .hljs-type,
.pantsdown.light .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #d73a49;
}
.pantsdown.light .hljs-title,
.pantsdown.light .hljs-title.class_,
.pantsdown.light .hljs-title.class_.inherited__,
.pantsdown.light .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #6f42c1;
}
.pantsdown.light .hljs-attr,
.pantsdown.light .hljs-attribute,
.pantsdown.light .hljs-literal,
.pantsdown.light .hljs-meta,
.pantsdown.light .hljs-number,
.pantsdown.light .hljs-operator,
.pantsdown.light .hljs-variable,
.pantsdown.light .hljs-selector-attr,
.pantsdown.light .hljs-selector-class,
.pantsdown.light .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #005cc5;
}
.pantsdown.light .hljs-regexp,
.pantsdown.light .hljs-string,
.pantsdown.light .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #032f62;
}
.pantsdown.light .hljs-built_in,
.pantsdown.light .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #e36209;
}
.pantsdown.light .hljs-comment,
.pantsdown.light .hljs-code,
.pantsdown.light .hljs-formula {
    /* prettylights-syntax-comment */
    color: #6a737d;
}
.pantsdown.light .hljs-name,
.pantsdown.light .hljs-quote,
.pantsdown.light .hljs-selector-tag,
.pantsdown.light .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #22863a;
}
.pantsdown.light .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #24292e;
}
.pantsdown.light .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #005cc5;
    font-weight: bold;
}
.pantsdown.light .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #735c0f;
}
.pantsdown.light .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #24292e;
    font-style: italic;
}
.pantsdown.light .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #24292e;
    font-weight: bold;
}
.pantsdown.light .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #22863a;
    background-color: #f0fff4;
}
.pantsdown.light .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #b31d28;
    background-color: #ffeef0;
}
.pantsdown.light .hljs-char.escape_,
.pantsdown.light .hljs-link,
.pantsdown.light .hljs-params,
.pantsdown.light .hljs-property,
.pantsdown.light .hljs-punctuation,
.pantsdown.light .hljs-tag {
    /* purposely ignored */
}
.pantsdown {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-default, var(--color-canvas-default));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
.pantsdown details,
.pantsdown figcaption,
.pantsdown figure {
    display: block;
}
.pantsdown summary {
    display: list-item;
}
.pantsdown [hidden] {
    display: none !important;
}
.pantsdown a {
    background-color: transparent;
    color: var(--fgColor-accent, var(--color-accent-fg));
    text-decoration: none;
}
.pantsdown abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}
.pantsdown b,
.pantsdown strong {
    font-weight: var(--base-text-weight-semibold, 600);
}
.pantsdown dfn {
    font-style: italic;
}
.pantsdown h1 {
    margin: 0.67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.pantsdown mark {
    background-color: var(--bgColor-attention-muted, var(--color-attention-subtle));
    color: var(--fgColor-default, var(--color-fg-default));
}
.pantsdown small {
    font-size: 90%;
}
.pantsdown sub,
.pantsdown sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.pantsdown sub {
    bottom: -0.25em;
}
.pantsdown sup {
    top: -0.5em;
}
.pantsdown img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--bgColor-default, var(--color-canvas-default));
}
.pantsdown code,
.pantsdown kbd,
.pantsdown pre,
.pantsdown samp {
    font-family: monospace;
    font-size: 1em;
}
.pantsdown figure {
    margin: 1em 40px;
}
.pantsdown hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--borderColor-default, var(--color-border-default));
    border: 0;
}
.pantsdown input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pantsdown [type="button"],
.pantsdown [type="reset"],
.pantsdown [type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}
.pantsdown [type="checkbox"],
.pantsdown [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.pantsdown [type="number"]::-webkit-inner-spin-button,
.pantsdown [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
.pantsdown [type="search"]::-webkit-search-cancel-button,
.pantsdown [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pantsdown ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
.pantsdown ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
.pantsdown a:hover {
    text-decoration: underline;
}
.pantsdown ::placeholder {
    color: var(--fgColor-muted, var(--color-fg-subtle));
    opacity: 1;
}
.pantsdown hr::before {
    display: table;
    content: "";
}
.pantsdown hr::after {
    display: table;
    clear: both;
    content: "";
}
.pantsdown table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}
.pantsdown td,
.pantsdown th {
    padding: 0;
}
.pantsdown details summary {
    cursor: pointer;
}
.pantsdown kbd {
    display: inline-block;
    padding: 3px 5px;
    font:
        11px ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    line-height: 10px;
    color: var(--fgColor-default, var(--color-fg-default));
    vertical-align: middle;
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border: solid 1px var(--borderColor-neutral-muted, var(--color-neutral-muted));
    border-bottom-color: var(--borderColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted, var(--color-neutral-muted));
}
.pantsdown h1,
.pantsdown h2,
.pantsdown h3,
.pantsdown h4,
.pantsdown h5,
.pantsdown h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
}
.pantsdown h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.pantsdown h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}
.pantsdown h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em;
}
.pantsdown h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.875em;
}
.pantsdown h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.85em;
    color: var(--fgColor-muted, var(--color-fg-muted));
}
.pantsdown p {
    margin-top: 0;
    margin-bottom: 10px;
}
.pantsdown blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--fgColor-muted, var(--color-fg-muted));
    border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
}
#markdown-element-id > ul,
#markdown-element-id > ol {
    padding-left: 1em;
}
.pantsdown ul,
.pantsdown ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}
.pantsdown ol ol,
.pantsdown ul ol {
    list-style-type: lower-roman;
}
.pantsdown ul ul ol,
.pantsdown ul ol ol,
.pantsdown ol ul ol,
.pantsdown ol ol ol {
    list-style-type: lower-alpha;
}
.pantsdown dd {
    margin-left: 0;
}
.pantsdown tt,
.pantsdown code,
.pantsdown samp {
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
}
.pantsdown pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
    word-wrap: normal;
}
.pantsdown input::-webkit-outer-spin-button,
.pantsdown input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}
.pantsdown::before {
    display: table;
    content: "";
}
.pantsdown::after {
    display: table;
    clear: both;
    content: "";
}
.pantsdown > *:first-child {
    margin-top: 0 !important;
}
.pantsdown > *:last-child {
    margin-bottom: 0 !important;
}
.pantsdown a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.pantsdown p,
.pantsdown blockquote,
.pantsdown ul,
.pantsdown ol,
.pantsdown dl,
.pantsdown table,
.pantsdown pre,
.pantsdown details {
    margin-top: 0;
    margin-bottom: 16px;
}
.pantsdown blockquote > :first-child {
    margin-top: 0;
}
.pantsdown blockquote > :last-child {
    margin-bottom: 0;
}
.pantsdown h1 tt,
.pantsdown h1 code,
.pantsdown h2 tt,
.pantsdown h2 code,
.pantsdown h3 tt,
.pantsdown h3 code,
.pantsdown h4 tt,
.pantsdown h4 code,
.pantsdown h5 tt,
.pantsdown h5 code,
.pantsdown h6 tt,
.pantsdown h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}
.pantsdown summary h1,
.pantsdown summary h2,
.pantsdown summary h3,
.pantsdown summary h4,
.pantsdown summary h5,
.pantsdown summary h6 {
    display: inline-block;
}
.pantsdown summary h1,
.pantsdown summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}
.pantsdown ol[type="a s"] {
    list-style-type: lower-alpha;
}
.pantsdown ol[type="A s"] {
    list-style-type: upper-alpha;
}
.pantsdown ol[type="i s"] {
    list-style-type: lower-roman;
}
.pantsdown ol[type="I s"] {
    list-style-type: upper-roman;
}
.pantsdown ol[type="1"] {
    list-style-type: decimal;
}
.pantsdown div > ol:not([type]) {
    list-style-type: decimal;
}
.pantsdown ul ul,
.pantsdown ul ol,
.pantsdown ol ol,
.pantsdown ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.pantsdown li > p {
    margin-top: 16px;
}
/* include margin-top even for first li childs for easier scroll offset calculation */
/* .pantsdown li + li { */
.pantsdown li {
    margin-top: 0.25em;
}
.pantsdown dl {
    padding: 0;
}
.pantsdown dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold, 600);
}
.pantsdown dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.pantsdown table th {
    font-weight: var(--base-text-weight-semibold, 600);
}
.pantsdown table th,
.pantsdown table td {
    padding: 6px 13px;
    border: 1px solid var(--borderColor-default, var(--color-border-default));
}
.pantsdown table td > :last-child {
    margin-bottom: 0;
}
.pantsdown table tr {
    background-color: var(--bgColor-default, var(--color-canvas-default));
    border-top: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.pantsdown table tr:nth-child(2n) {
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
}
.pantsdown table img {
    background-color: transparent;
}
.pantsdown img[align="right"] {
    padding-left: 20px;
}
.pantsdown img[align="left"] {
    padding-right: 20px;
}
.pantsdown code,
.pantsdown tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
}
.pantsdown code br,
.pantsdown tt br {
    display: none;
}
.pantsdown del code {
    text-decoration: inherit;
}
.pantsdown samp {
    font-size: 85%;
}
.pantsdown pre code {
    font-size: 100%;
}
.pantsdown pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.pantsdown .highlight {
    margin-bottom: 16px;
}
.pantsdown .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
.pantsdown .highlight pre,
.pantsdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border-radius: 6px;
}
.pantsdown pre code,
.pantsdown pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
